
MONGODB_URI=mongodb://localhost/next-ecommerce
PAYPAL_CLIENT_ID=sb

NEXT_PUBLIC_CLOUDINARY_API_KEY=x
CLOUDINARY_SECRET=x

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=somethingsecret
# dmlyquckp
# 137996119616835
# ib9tvH1srk2zT4YyFfcBp6MpIJU
# CLOUDINARY_URL=cloudinary://137996119616835:ib9tvH1srk2zT4YyFfcBp6MpIJU@dmlyquckp
# npm install cloudinary-react --save
# <CloudinaryContext cloudName="dmlyquckp">
  <div>
    <Image publicId="sample" width="50" />
  </div>
  <Image publicId="sample" width="0.5" />
</CloudinaryContext>

